*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth; /* PAGINA SUBIR MAIS LENTAMENTE */
}

textarea:focus, input:focus, select:focus{
  box-shadow: 0 0 0 0;
  box-shadow: none;
  border: 0 none;
  outline: 0;
}

body{
  /* background-color: #282c34; */
  background-color: #f0f2f3;
  /* display: flex;
  min-height: 100vh; */
  /* flex-direction: column; */
  font-family: 'Poppins', sans-serif;
}